
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1E213A;
    color: white;
    padding: 10px;
    text-align: center;
}

.main-container {
    display: flex;
}

#search-section {
    background-color: #100E1D;
    padding: 20px;
    flex: 1;
}

#weather-container {
    flex: 2;

}

#search-history button {
    margin-top: 10px;
    width: 50;
    padding: 10px;
    background-color: #1E213A;
    color: white;
    border: none;
}

#current-weather, #forecast {
    padding: 20px;
    background-color: #A09FB1;
}

#forecast-container {
    display: flex;
    justify-content: space-around;
}

.forecast-card {
    background-color: #88869D;
    padding: 10px;
    margin: 10px;
}

.history-entry {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 5px;
}

/* Styles for screens wider than 600px */
@media (min-width: 600px) {
    .main-container {
        display: flex; 
    }
    
    #forecast-container {
        display: flex;
    }

    .forecast-card {
        width: auto; 
        margin: 10px;
    }
}

/* Styles for screens narrower than 600px */
@media (max-width: 599px) {
    .main-container {
        display: block; 
    }

    #forecast-container {
        display: block; 
    }

    .forecast-card {
        width: 100%; 
        margin: 10px auto; 
    }
}